---
// import InterfaceIcon from "../assets/icons/InterfaceIcon.astro";
---

<section class="flex items-center w-full h-full">
  <div class="w-1/2 flex flex-col gap-7 pl-44">
    <h3 class="text-[#0D47A1] font-bold text-3xl">Conoce nuestra interfaz</h3>
    <p class="leading-7">
      En su primera versión, AccEx está disponible para computadores con
      sistemas operativos <strong class="text-[#1e88e5]">Windows y MacOS</strong
      >, con un diseño de interfaz intuitivo y fácil de usar para personas con
      discapacidades motrices y/o visuales.
    </p>
    <p class="leading-7">
      Con AccEx, podrás navegar de forma más accesible a cualquier página que
      desees, adaptándose a las necesidades de los usuarios/as con una variedad
      de funciones. Estas incluyen <strong class="text-[#1e88e5]"
        >navegación por voz</strong
      >, <strong class="text-[#1e88e5]">teclado</strong>,<strong
        class="text-[#1e88e5]">numérico</strong
      > y un <strong class="text-[#1e88e5]">lector de pantalla</strong>.
    </p>
  </div>
  <div>
    <!-- <InterfaceIcon />  -->
  </div>
</section>
