<section
  class="text-white bg-gradient-sponsor px-44 py-32 flex justify-center items-center text-center">
  <p class="w-1/2 text-balance text-2xl">
    Nuestra <span class="font-bold">misión</span> es proporcionar una navegación
    accesible para las personas con discapacidad, aumentando su <span
      class="font-bold">independencia y autoestima</span
    > a través de herramientas innovadoras que ofrece <span class="font-bold"
      >AccEx</span
    >.
  </p>
</section>
