---
import VisualQuienesSomos from '../assets/icons/VisualQuienesSomos.astro';
---

<article class="flex">
  <div class="flex flex-col gap-10 justify-center">
    <h1 class="font-bold text-5xl text-[#0D47A1]">¿Quiénes somos?</h1>
    <p class="w-2/3">
      Somos un equipo dedicado a fomentar la inclusión social de poblaciones
      vulnerables, excluidas de los beneficios que representa navegar por
      internet. Esta innovación tecnológica persigue <span class="font-medium">
        mejorar la calidad de vida</span
      >
      de las personas con <span class="font-bold text-[#1388e5]"
        >discapacidad visual y motriz</span
      >. A través de la tecnología, desarrollamos una navegación asistida para
      superar todo tipo de barreras presentes en las Tecnologías de Información
      y Comunicación (TIC).
    </p>
  </div>
  <div>
    <VisualQuienesSomos />
  </div>
</article>
