<section>
  <div class="flex flex-col gap-10 justify-center">
    <h1 class="text-[#0D47A1] text-5xl font-bold">Funcionalidades</h1>
    <p class="w-2/3 leading-7">
      En AccEx, desarrollamos funcionalidades adaptadas a cada tipo de
      discapacidad para que nuestros usuarios se sientan más seguros al navegar
      por internet a través de un <strong class="text-[#1e88e5]"
        >diseño accesible</strong
      >.
    </p>
  </div>
</section>
