<section>
  <div class="flex flex-col gap-4">
    <h2 class="text-[#0D47A1] text-3xl">
      <strong>Tipos de discapacidad</strong>
      <br />
      con perfiles personalizables
    </h2>
    <span class="font-normal"
      >Creamos un sistema que proporciona perfiles de accesibilidad que trabaja
      con 2 tipos de discapacidad:</span
    >
  </div>
</section>
