---

---

<section
  class="bg-white grid grid-cols-1 grid-rows-3 justify-center content-center">
  <article class="flex-col flex gap-9 items-center justify-center">
    <h2 class="font-bold text-3xl text-[#0D47A1]">
      Creadores de la tecnología
    </h2>
    <div class="flex gap-14">
      <img
        src="./Utem-logo.png"
        alt="Logo de Universidad Tecnologica Metropolitana"
        class="w-24 aspect-square object-contain"
      />
      <img
        src="./teleton-logo.png"
        alt="Logo de Teleton"
        class="w-24 aspect-square object-contain"
      />
    </div>
  </article>
  <article
    class="bg-gradient-sponsor flex flex-col items-center py-16 gap-9 justify-center">
    <h1 class="font-bold text-3xl text-white">Instituciones patrocinantes</h1>
    <p class="w-2/5 text-white leading-10 text-balance text-lg">
      AccEx es una innovación tecnológica que partió por iniciativa de un grupo
      de investigadores de la <strong>
        Universidad Tecnológica Metropolitana (UTEM)</strong
      >, quienes a través de <span class="font-medium">alianzas</span> con la <strong
        >Teletón</strong
      > impulsaron el desarrollo de esta aplicación.
    </p>
  </article>
</section>
