---
import Layout from "../layouts/Layout.astro";
import SectionContainer from "../components/SectionContainer.astro";
import HeroFuncionalidades from "../funcionalidades/HeroFuncionalidades.astro";
import Tools from "../funcionalidades/Tools.astro";
import Tipos from "../funcionalidades/Tipos.astro";
---

<Layout title="" description="">
  <main>
    <SectionContainer class="flex items-center px-44">
      <HeroFuncionalidades />
    </SectionContainer>
    <div class="bg-gradient-inicio">
      <SectionContainer class="px-44 flex flex-col justify-center">
        <Tools />
      </SectionContainer>
      <SectionContainer class="px-44 flex flex-col justify-center">
        <Tipos />
      </SectionContainer>
    </div>
  </main>
</Layout>
