---
import MacosIcon from "../assets/icons/MacosIcon.astro";
import Hero from "../inicio/Hero.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Sponsor from "../inicio/Sponsor.astro";
import World from "../inicio/World.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="AccEx" description="">
	<main>
		<SectionContainer class="flex items-center bg-[#fafafa] px-44">
			<Hero />
		</SectionContainer>

		<div class="bg-gradient-inicio">
			<SectionContainer class="pt-32 px-44">
				<World />
			</SectionContainer>

			<SectionContainer class="pt-32 px-44">
				<Sponsor />
			</SectionContainer>
		</div>
	</main>
</Layout>
