<section class="pl-44 flex items-center w-full h-full">
	<div class="w-1/2 flex flex-col gap-7 ">
		<h3 class="text-[#0D47A1] font-bold text-3xl">Conoce nuestra interfaz</h3>
		<p>
			AccEx está disponible para computadores con sistemas operativos <span
				class="text-[#1E88E5] font-semibold">Windows y MacOS</span
			>, con un diseño de interfaz intuitivo y facil de usar para personas
			discapacidades motrices o visuales.
		</p>
		<p>
			Con AccEx, podrás navegar de forma más accesible a cualquier página que
			desees, adaptándose a las necesidades de los usuarios/as con una variedad
			de funciones. Estas incluyen <span class="text-[#1E88E5] font-semibold">navegación por voz, teclado, numérico y un
			lector de pantalla</span>.
		</p>
	</div>
</section>
