<section
  class="text-white bg-gradient-to-b from-[#0D47A1D4] from-83% to-[#1E88E5] to-100% text-3xl px-44 py-10 text-center"
>
  <p>
    Nuestra <span class="text-[#99CE42] font-semibold">misión</span> es proporcionar
    una navegación accesible para las personas con discapacidad, aumentando su <span
      class="font-semibold">independencia y autoestima</span
    > a través de herramientas innovadoras que ofrece AccEx.
  </p>
</section>
