<section class="px-44 pb-20">
  <h3 class="text-4xl pb-7">
    Video tutorial: <span class="text-[#0D47A1] font-bold">Uso de AccEx</span>
  </h3>
  <div class="flex gap-28 items-center">
    <div class="bg-pink-300 w-[693.92px] h-[370.09px]"></div>

    <div
      class="bg-[#1E88E5D9] w-[364px] h-[142px] flex items-center justify-center p-4 rounded-2xl"
    >
      <p class="font-semibold text-white text-lg">
        Te guiaremos paso a paso a como usar el navegador de AccEx y sus
        diferentes <span class="font-bold">funcionalidades</span> que ofrece.
      </p>
    </div>
  </div>
</section>
