---
import AccexTeamIcon from "../assets/icons/AccexTeamIcon.astro";
---

<article class="flex">
	<div class="flex flex-col gap-10 justify-center">
		<h1 class="font-bold text-5xl text-[#0D47A1]">¿Quiénes somos?</h1>
		<p class="w-2/3">
			En AccEx, somos un equipo dedicado a fomentar la inclusión y mejorar la
			calidad de vida de las personas con <span class="font-bold text-[#1E88E5]"
				>discapacidad visual y motriz</span
			>. A través de la tecnología, desarrollamos una navegación asistida para
			superar todo tipo de barreras.
		</p>
	</div>
	<div>
	<AccexTeamIcon/>
</div>
</article>
