<section class="w-full h-full">
	<p class="text-4xl text-start w-[497px] text-pretty">
		Actualmente nuestro navegador se encuentra en <span class="font-bold">CHILE</span>, pero con miradas
		futuras hacia los otros países de <span class="text-[#0D47A1] font-bold">Latinoamérica.</span>
	</p>
</section>
